<h1>Welcome to our Awesome Calendar App!</h1>

<% @appointments.each do |appointment| %>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><%= appointment.task %> <small>via <%= appointment.person %></small><span class="pull-right">[<%= link_to "delete", appointment_path(appointment), method: :delete, data: {confirm: "Are you sure? This is permanent and cannot be undone."} %>]</span> <span class="pull-right">[<%= link_to "edit", edit_appointment_path(appointment) %>]</span></h3></div>
  <div class="panel-body">
    At <%= appointment.appt_time %> for <%= appointment.duration %> minutes.<br />
    <%= appointment.details %>
  </div>
</div>

<% end %>